<h1>New Gift List</h1>

<%= simple_form_for(@list) do |f| %>
  <%= f.input :first_name, label: 'First Name' %>
  <%= f.input :last_name, label: 'Last Name' %>
  <%= f.input :relation, label: 'Relation' %>
  <%= f.button :submit %>
<% end %>
