<h1>New Gift Recipient</h1>

<%= simple_form_for(@recipient) do |f| %>
  <%= f.input :first_name, label: 'First Name' %>
  <%= f.input :last_name, label: 'Last Name' %>
  <%= f.association :relationships, collection: ["Family", "Friend", "Coworker", "Acquaintance"]  %>
  <%= f.button :submit %>
<% end %>
