<div class="relationships">
<h2>Relationships({{relationshipsCount}})</h2>
  <button {{action "addRelationship"}}>Add Relationship</button>
  <ul id="relationships">
    {{#each relationship in controller}}
      <li>{{#link-to "relationship" relationship}}{{relationship.name}}({{relationship.recipients.length}}){{/link-to}}</li>
    {{/each}}
  </ul>
</div>

{{outlet 'add'}}


