<div class="relationship">
  <h2>{{name}}</h2>
  {{action "addRecipient"}}Add New Recipient{{/link-to}}
  <ul>
    {{#each recipient in recipients}}
    <li>{{#link-to "recipient" recipient}}{{recipient.last_name}}, {{recipient.first_name}}{{/link-to}}</li>
    {{/each}}
  </ul>
</div>

{{outlet}}
